html,
body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 75px 20px auto 20px;
  grid-template-columns: 20px 300px 20px auto 20px;
  height: 100%;
}

.grid-item {
  border: solid 2px blue;

  &.header {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  &.flex-options {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  &.flex-container {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;

  &__flex-box {
    display: flex;
    // flex-grow: 1; not sure how to handle this at the moment

    &.flex-direction {
      &--row {
        flex-direction: row;
      }

      &--row-reverse {
        flex-direction: row-reverse;
      }

      &--column {
        flex-direction: column;
      }

      &--column-reverse {
        flex-direction: column-reverse;
      }
    }

    &.flex-wrap {
      &--nowrap {
        flex-wrap: nowrap;
      }

      &--wrap {
        flex-wrap: wrap;
      }

      &--wrap-reverse {
        flex-wrap: wrap-reverse;
      }
    }

    &.justify-content {
      &--flex-start {
        justify-content: flex-start;
      }

      &--flex-end {
        justify-content: flex-end;
      }

      &--center {
        justify-content: center;
      }

      &--space-between {
        justify-content: space-between;
      }

      &--space-around {
        justify-content: space-around;
      }

      &--space-evenly {
        justify-content: space-evenly;
      }
    }

    &.align-items {
      &--stretch {
        align-items: stretch;
      }

      &--flex-start {
        align-items: flex-start;
      }

      &--flex-end {
        align-items: flex-end;
      }

      &--center {
        align-items: center;
      }

      &--baseline {
        align-items: baseline;
      }
    }

    &.align-content {
      &--flex-start {
        align-content: flex-start;
      }

      &--flex-end {
        align-content: flex-end;
      }

      &--center {
        align-content: center;
      }

      &--stretch {
        align-content: stretch;
      }

      &--space-between {
        align-content: space-between;
      }

      &--space-around {
        align-content: space-around;
      }
    }

    /* no gap property yet...?*/
  }

  &__flex-item {
    height: 150px;
    margin: 15px;
    object-fit: cover;
    width: auto;

    img {
      height: 100%;
    }
  }

  &__flex-item-number {
    position: absolute;
    color: white;
    background-color: red;
    text-align: center;
    height: 20px;
    width: 30px;
  }
}