html,
body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 75px 20px auto 20px;
  grid-template-columns: 20px 300px 20px auto 20px;
  height: 100%;
}

.header {
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 96vw;

  h3 {
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: lightblue;
    }
  }

  &__info {
    align-items: center;
    display: flex;
    gap: 30px;
    flex-direction: row;

    h4 {
      margin: 0;
    }
  }
}

.grid-item {
  &.header {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  &.flex-options {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  &.flex-container {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    overflow: scroll;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  &__flex-box {
    border-radius: 10px;
    background-color: lightgrey;
    display: flex;
    flex-grow: 1;
    overflow: scroll;

    &.flex-direction {
      &--row {
        flex-direction: row;
      }

      &--row-reverse {
        flex-direction: row-reverse;
      }

      &--column {
        flex-direction: column;
      }

      &--column-reverse {
        flex-direction: column-reverse;
      }
    }

    &.flex-wrap {
      &--nowrap {
        flex-wrap: nowrap;
      }

      &--wrap {
        flex-wrap: wrap;
      }

      &--wrap-reverse {
        flex-wrap: wrap-reverse;
      }
    }

    &.justify-content {
      &--flex-start {
        justify-content: flex-start;
      }

      &--flex-end {
        justify-content: flex-end;
      }

      &--center {
        justify-content: center;
      }

      &--space-between {
        justify-content: space-between;
      }

      &--space-around {
        justify-content: space-around;
      }

      &--space-evenly {
        justify-content: space-evenly;
      }
    }

    &.align-items {
      &--stretch {
        align-items: stretch;
      }

      &--flex-start {
        align-items: flex-start;
      }

      &--flex-end {
        align-items: flex-end;
      }

      &--center {
        align-items: center;
      }

      &--baseline {
        align-items: baseline;
      }
    }

    &.align-content {
      &--flex-start {
        align-content: flex-start;
      }

      &--flex-end {
        align-content: flex-end;
      }

      &--center {
        align-content: center;
      }

      &--stretch {
        align-content: stretch;
      }

      &--space-between {
        align-content: space-between;
      }

      &--space-around {
        align-content: space-around;
      }
    }

    /* no gap property yet...?*/
  }

  &__flex-item {
    background-color: beige;
    border: solid 2px transparent;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    position: relative;
    width: auto;

    &:hover {
      cursor: pointer;
      border-color: orange;
    }

    &--sm {
      img {
        height: 100px;
      }
    }

    &--med {
      img {
        height: 125px;
      }
    }

    &--lg {
      img {
        height: 150px;
      }
    }
    
    img {
      margin: auto;
      border-radius: 10px;
      display: block;
    }

  }

  &__flex-item-number,
  &__flex-item-order {
    border-radius: 8px;
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: darkslategrey;
    top: 2px;
    left: 2px;
    text-align: center;
    height: 20px;
    width: 30px;
  }

  &__flex-item-order {
    background-color: orange;
    top: 20px;

    &.hide {
      display: none;
    }
  }
}

.flex-options {
  background-color: lightblue;
  border-radius: 10px;

  .dropdown-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .dropdown-component__dropdown {
      margin: auto;

      label {
        display: block;
        font-size: 18px;
      }
    
      select {
        display: block;
        margin-top: 5px;
        width: 100px;
      }
    }
  }
}