html,
body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 75px auto;
  grid-template-columns: 20px 300px auto 20px;
  height: 100%;
}

.grid-item {
  border: solid 2px blue;

  &.header {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  &.flex-options {
    grid-column-start: 2;
  }
}