html,
body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 75px 20px auto 20px;
  grid-template-columns: 20px 300px 20px auto 20px;
  height: 100%;
}

.grid-item {
  border: solid 2px blue;

  &.header {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  &.flex-options {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  &.flex-container {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
  }
}

.flex-container {
  &__flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__flex-item {
    height: 150px;
    margin: 15px;
    object-fit: cover;
    width: auto;
  }
}